/********** Template CSS **********/


/* ___________________________________________ */
/* ___________________________________________ */

/* Global Variables */
:root {
    --color1: #242d3c;
    --color2: #89919c;
    --color3: #fff;
}


.container__title {
    text-align: center;

    /* Flex */
    display: flex;
    flex-direction: column;
}

.container__titleMainText {
    color: var(--color1);
    margin-bottom: 19.920px;
    font-weight: 900;
}

.container__titleSubText {
    color: var(--color2);
    max-width: 500px;
}

.container__circle {
    width: 500px;
    height: 500px;
    margin-top: 60px;
    border-radius: 50%;
    position: relative;
}

.container__circle::before {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    filter: brightness(0.5) contrast(0.8);

    /* Background */
    /* background-image: url(https://raw.githubusercontent.com/mohammadahmadjarabah/codepen-assets/main/pens/VwzKLga/images/servers-room.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

/* Main-Feature */
.container__mainFeat {
    color: var(--color3);
    text-align: center;

    /* Position */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container__mainFeatMainText {
    margin-bottom: 12px;
    font-weight: 900;
}

.container__mainFeatSubText {
    font-size: 15px;
    line-height: 1.6;
}

/* Sub-Feature */
.container__subFeat {
    height: 110px;

    /* Flex */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    /* Position */
    position: absolute;
    left: 0;
    top: 20px;
    transform: translateX(calc(-100% + 88px + 15px + 20px));
}

.container__subFeat--right {
    /* Flex */
    flex-direction: row;

    /* Position */
    left: initial;
    right: 0;
    transform: translateX(calc(100% - 88px - 15px - 20px));
}

.container__subFeat:not(:first-child):nth-child(odd) {
    top: inherit;
    bottom: 20px;
}

.container__subFeatImgContent {
    min-width: 88px;
    min-height: 88px;
    padding: 10px;
    margin-left: 15px;
    border: solid 7px var(--color3);
    border-radius: 50%;

    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__subFeat--right .container__subFeatImgContent {
    margin-left: 0;
    margin-right: 15px;
}

.container__subFeatIcon {
    width: 40px;
    height: 40px;
}

.container__subFeatContent {
    max-width: 300px;
    padding: 15px;
    direction: rtl;
}

.container__subFeat--right .container__subFeatContent {
    direction: ltr;
}

.container__subFeatMainText {
    color: var(--color1);
    margin-bottom: 15px;
}

.container__subFeatSubText {
    color: var(--color2);
    font-size: 15px;
    line-height: 1.6;
}
 .close {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 1.1rem;
      letter-spacing: 0.05rem;
      color: var(--gray);
     
 }
 .open{
      visibility: visible;
    opacity: 1;
 }
 .pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
 transform:(translate(-50%, -50%) scale(0.9));
  overflow-y: auto;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
 transition:(all .3s);
  z-index: 10;
  background-color: var(--white);
  width: 100%;
  height: 100%;

 }
  @media (min-width: 768px) {
    .pop-up{
    width: calc(100% - 40px);
    height: auto;
    max-width: 900px;
    }
  }
      .close:hover {
        cursor: pointer;
        color: var(--orange);
      }
    
/* ___________________________________________ */
/* ___________________________________________ */
.slide-container {
  position: relative;
  width: 35vw;
  height: 35vw;
  margin: 17vmin auto;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
     background: url(../img/test.png) no-repeat center/cover;

  transition: all .3s;
}

.slide-container .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 8vw;
  height: 8vw;
  margin-top: -4vw;
  margin-left: -4vw;
   background: url(../img/test.png) no-repeat center/cover;

  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
  cursor: pointer;
  transform: scale(1);
  opacity: .9;
  transition: all .3s;
}


.slide.active,
.slide:hover {
  /* transform: scale(1.3); */
  opacity: 1;
  z-index: 100;
}

.button-wrap {
  margin-top: auto;
  display: flex;
  flex-flow: row nowrap;
}

.button-wrap .btn {
  display: block;
  flex: 1 1 auto;
  line-height: 50px;
  text-align: center;
  background: #333;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: all .3s;
}

.button-wrap .btn:hover {
  background: #000;
}

.button-wrap .btn-prev {
  border-right: 1px solid #999;
}

@media all and (max-width: 1024px) {
  .slide-container {
    width: 55vw;
    height: 55vw;
  }
  
  .slide-container .slide {
    width: 13vw;
    height: 13vw;
    margin-top: -6.5vw;
    margin-left: -6.5vw;
  }
}

@media all and (max-width: 720px) {
  .slide-container {
    width: 65vw;
    height: 65vw;
  }
  
  .slide-container .slide {
    width: 15vw;
    height: 15vw;
    margin-top: -7.5vw;
    margin-left: -7.5vw;
  }
}
.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.carousel-item {
    height: 80vh; /* Set a fixed height for all carousel items */
}
.carousel-item img {
    object-fit: cover; /* Ensure the images cover the fixed height */
    height: 100%; /* Fill the entire space within the fixed height */
    width: 100%; /* Ensure the image takes up the full width */
}
.video-container {
    width: 100%; /* Adjust this as needed */
    height: 80vh; /* Adjust this as needed */
    position: relative;
    overflow: hidden;
}

.video-container video {
    z-index: -10;
    object-fit: cover; /* Ensure video covers the container */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.fw-medium {
    font-weight: 500;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Button ***/
.btn {
    transition: 0.5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--bs-light);
}

.btn-secondary,
.btn-outline-secondary:hover {
    color: var(--bs-dark);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-weight: normal;
}

.icon-box-primary,
.icon-box-light {
    position: relative;
    padding: 0 0 10px 10px;
    z-index: 1;
}

.icon-box-primary i,
.icon-box-light i {
    font-size: 60px;
    line-height: 0;
}

.icon-box-primary::before,
.icon-box-light::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    left: 0;
    bottom: 0;
    border-radius: 35px;
    transition: 0.5s;
    z-index: -1;
}

.icon-box-primary::before {
    background: var(--bs-primary);
}

.icon-box-light::before {
    background: var(--bs-light);
}

/*** Navbar ***/
.sticky-top {
    top: -100px;
    transition: 0.5s;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 20px 0;
    color: var(--bs-dark);
    font-size: 18px;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 15px;
        border-top: 1px solid #eeeeee;
    }
}

@media (min-width: 992px) {
    .sticky-top {
        margin-top: -34px;
    }

    .navbar {
        height: 68px;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
    }
}

/*** Header ***/
@media (min-width: 992px) {
    .header-carousel,
    .page-header {
        margin-top: -34px;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background: rgba(3, 27, 78, 0.3);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    background-color: var(--bs-primary);
    border: 15px solid var(--bs-primary);
}

@media (max-width: 767.98px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background: linear-gradient(rgba(3, 27, 78, 0.3), rgba(3, 27, 78, 0.3)),
        url(../img/testimonial.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item + .breadcrumb-item::before {
    color: var(--bs-white);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--bs-white);
}

/*** Features ***/
.feature {
    background: linear-gradient(rgba(3, 27, 78, 0.3), rgba(3, 27, 78, 0.3)),
        url(../img/feature.jpg) left center no-repeat;
    background-size: cover;
}

.feature-row {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}

.feature-item {
    border-color: rgba(0, 0, 0, 0.03) !important;
}

.experience .progress {
    height: 5px;
}

.experience .progress .progress-bar {
    width: 0px;
    transition: 3s;
}

.experience .nav-pills .nav-link {
    color: var(--dark);
}

.experience .nav-pills .nav-link.active {
    color: #ffffff;
}

.experience .tab-content hr {
    width: 30px;
}

/*** About ***/
.about-fact {
    width: 220px;
    height: 220px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

@media (min-width: 576px) {
    .about-fact.mt-n130 {
        margin-top: -130px;
    }
}

.btn-play {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 36px;
    height: 46px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 18px 20px 20px 28px;
    background: var(--bs-primary);
}

.btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 90px;
    height: 90px;
    background: var(--bs-primary);
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 90px;
    height: 90px;
    background: var(--bs-primary);
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: 3px;
    border-left: 30px solid #ffffff;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

.modal-video .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

.modal-video .modal-body {
    position: relative;
    padding: 0px;
}

.modal-video .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
    background: #000000;
    opacity: 1;
}

/*** Service ***/
.container-service {
    position: relative;
}

.container-service::before {
    position: absolute;
    content: "";
    background: var(--bs-light);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 70%);
    z-index: -1;
}

.service-item {
    position: relative;
    height: 100%;
    padding: 45px 30px;
    background: var(--bs-white);
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.05);
}

.service-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    background: var(--bs-primary);
}

.service-item:hover::before {
    height: 100%;
    top: 0;
}

.service-item * {
    position: relative;
    transition: 0.5s;
    z-index: 1;
}

.service-item:hover h5,
.service-item:hover p {
    color: var(--bs-white);
}

.service-item:hover .icon-box-primary::before {
    background: var(--bs-dark);
}

.service-item:hover .icon-box-primary i {
    color: var(--bs-white) !important;
}

/*** Team ***/
.container-team {
    position: relative;
}

.container-team::before {
    position: absolute;
    content: "";
    background: var(--bs-light);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    clip-path: polygon(0 70%, 100% 30%, 100% 100%, 0% 100%);
    z-index: -1;
}

.team-item {
    background: var(--bs-white);
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.05);
}

.team-item .team-social {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    transition: 0.5s;
    background: var(--bs-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-item:hover .team-social {
    width: 100%;
    left: 0;
}

.team-item .team-social .btn {
    opacity: 0;
    transition: 0.5s;
}

.team-item:hover .team-social .btn {
    opacity: 1;
}

/*** Testimonial ***/
.testimonial {
    background: linear-gradient(rgba(3, 27, 78, 0.3), rgba(3, 27, 78, 0.3)),
        url(../img/testimonial.jpg) left center no-repeat;
    background-size: cover;
}

.testimonial-item img {
    width: 60px !important;
    height: 60px !important;
    border-radius: 60px;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin-left: 15px;
    color: var(--bs-primary);
    font-size: 30px;
    line-height: 0;
    transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--bs-dark);
}

/*** Contact ***/
@media (min-width: 992px) {
    .contact-info::after {
        position: absolute;
        content: "";
        width: 0px;
        height: 100%;
        top: 0;
        left: 50%;
        border-left: 1px dashed rgba(255, 255, 255, 0.2);
    }
}

@media (max-width: 991.98px) {
    .contact-info::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0px;
        top: 50%;
        left: 0;
        border-top: 1px dashed rgba(255, 255, 255, 0.2);
    }
}

/*** Footer ***/
.footer {
    background: linear-gradient(rgba(3, 27, 78, 0.3), rgba(3, 27, 78, 0.3)),
        url(../img/footer.png) center center no-repeat;
    background-size: contain;
}

@media (min-width: 992px) {
    .footer::after {
        position: absolute;
        content: "";
        width: 0px;
        height: 100%;
        top: 0;
        left: 50%;
        border-left: 1px dashed rgba(255, 255, 255, 0.2);
    }
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    text-transform: capitalize;
    transition: 0.3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--bs-primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    border-top: 1px dashed rgba(255, 255, 255, 0.2);
}

.copyright a {
    color: var(--bs-white);
}

.copyright a:hover {
    color: var(--bs-primary);
}

.blog-entry {
    overflow: hidden;
}
@media (min-width: 768px) {
    .blog-entry {
        margin-bottom: 30px;
    }
}
@media (max-width: 767.98px) {
    .blog-entry {
        margin-bottom: 30px;
    }
}
.blog-entry .text {
    position: relative;
    background: #fff;
    width: 100%;
    margin: 0 auto;
}
.blog-entry .text .heading {
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 400;
}
.blog-entry .text .heading a {
    color: #000000;
}
.blog-entry .text .heading a:hover,
.blog-entry .text .heading a:focus,
.blog-entry .text .heading a:active {
    color: #ff7903;
}
.blog-entry .meta > div {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
    font-size: 14px;
}
.blog-entry .meta > div a {
    color: gray;
    font-size: 15px;
}
.blog-entry .meta > div a:hover {
    color: #666666;
}
.blog-entry .one {
    width: 80px;
}
.blog-entry .two {
    width: calc(100% - 80px);
}
.blog-entry span.day {
    font-size: 58px;
    font-weight: 300;
    color: #ff7903;
    line-height: 1;
}
.blog-entry span.yr,
.blog-entry span.mos {
    display: block;
    color: #b3b3b3;
}
.block-20 {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: block;
    width: 100%;
    height: 360px;
}
